.navbar {
  background-color: #333;
  height: 60px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
}

.logo-app {
  width: 200px;
  height: auto;
  padding: 0;
  margin: 0;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-item {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.user-initials {
  background-color: #fff;
  color: #333;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
  margin-right: 10px;
}

.user-initials:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

/* Hide certain elements on mobile */
/*TODO: fix this hack*/
@media (max-width: 768px) {
  app-navbar-middle, app-search-bar, app-notification {
    display: none;
  }
}
