<nav class="navbar">
  <div class="navbar-container">
      <a href="#" class="logo">
          <img src="https://via.placeholder.com/100x50?text=Logo" alt="Company Logo" >
      </a>
      <div class="nav-items">
          <!-- If user is logged in -->
          <div *ngIf="isLoggedIn">
              <img *ngIf="userPhoto; else userInitialsTemplate" [src]="userPhoto" class="user-photo" alt="User Photo">
              <ng-template #userInitialsTemplate>
                  <div class="user-initials">{{ userInitials }}</div>
              </ng-template>
              <a class="nav-item" (click)="authService.signOut()">Logoff</a>
          </div>
          
          <!-- If user is NOT logged in -->
          <div *ngIf="!isLoggedIn">
              <a class="nav-item" routerLink="/login">Login</a>
              <a class="nav-item" routerLink="/signup">Signup</a>
          </div>
      </div>
  </div>
</nav>
