<div *ngIf="actor" class="actor-details-container">
  <!-- Dynamic Background -->
  <div class="actor-background" [ngStyle]="{'background-image': backgroundImageUrl ? 'url(' + backgroundImageUrl + ')' : 'none'}"></div>

  <div class="content">
    <div class="left-column">
      <!-- Actor Profile -->
      <div class="actor-profile">
        <img *ngIf="actor.profile_path" [src]="'https://image.tmdb.org/t/p/w300' + actor.profile_path" alt="{{ actor.name }}">
      </div>
    </div>

    <div class="right-column">
      <!-- Actor Info -->
      <div class="actor-info">
        <h1>{{ actor.name }}</h1>
        <div class="actor-popularity">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
            <i [class]="getStarType(actor.popularity, i + 1)"></i>
          </ng-container>
        </div>
        <p class="actor-birthday">Born: {{ actor.birthday | date:'longDate' }}</p>
        <p *ngIf="actor.deathday" class="actor-deathday">Died: {{ actor.deathday | date:'longDate' }}</p>
        <p class="actor-birthplace">Place of Birth: {{ actor.place_of_birth }}</p>
        <div class="biography">
          <p>{{ actor.biography }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="padding-container">
  <!-- Actor Movies -->
    <div *ngIf="actorMovies?.cast?.length" class="actor-movies">
      <h2>Movies</h2>
      <div class="movie-cards">
        <div *ngFor="let movie of actorMovies!.cast! | slice:0:16">
          <!-- Only render the movie card if movie.poster_path exists -->
          <div *ngIf="movie?.poster_path" class="movie-card">
            <a [routerLink]="['/movie', movie.id]">
            <img [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" alt="{{ movie.title }}">
            </a>
            <h3>{{ movie.title }}</h3>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
