<div class="search-container" [class.expanded]="isExpanded">
  <input type="text" placeholder="Search for a movie title..."
         *ngIf="isExpanded"
         [(ngModel)]="searchText"
         (keyup.enter)="search()"
         #searchInput
         class="search-input">
  <mat-icon *ngIf="isExpanded && searchText" class="clear-icon" (click)="clearSearch()">
    clear
  </mat-icon>
  <mat-icon (click)="toggleSearch()" class="search-icon">
    {{ isExpanded ? 'double_arrow' : 'search' }}
  </mat-icon>
</div>
