.home-container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .search-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar {
    flex-grow: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .sort-by, .filter-button {
    padding: 10px;
    margin-left: 10px;
  }
  
  .filter-button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .filter-button:hover {
    background-color: #555;
  }

  .movies-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjusted for the poster width */
    gap: 15px;
  }
  
  .movie {
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
  }
  
  .movie:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .movie img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
  }
  
  .movie:hover img {
    transform: scale(1.05);
  }
  
  .movie-title {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.7); /* Slight background for title */
    color: white;
    position: relative;
    bottom: 30px; /* Position it over the bottom part of the image */
  }

