.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.social-media {
  margin-bottom: 10px;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  color: white; /* Set icon color */
  font-size: 24px; /* Set icon size */
}

.social-icon:hover {
  color: #ddd; /* Change color on hover, if desired */
}

.footer-text {
  font-size: 14px;
  margin-top: 10px;
}

.search-header h2 {
  font-size: 20px;
  margin: 10px 0;
  color: #333; /* Change as per your color scheme */
}
